.productCont {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed black;
}

.productId,
.productName,
.quantityCont {
  width: 30%;
  text-align: center;
}

.quantityCont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.increment,
.decrement {
  border: 1px solid black;
  padding: 5px 5px;
  border-radius: 4px;
  cursor: pointer;
}

.increment:hover,
.decrement:hover {
  background-color: antiquewhite;
}

@media screen and (min-width: 800px) {
  .productCont {
    height: 100px;
    font-size: 1.3em;
  }
}
